<footer
  class="w-full backdrop-blur-md bg-transparent border-t border-gray-200/10 text-center py-6 text-sm text-gray-700 dark:text-gray-300 transition-all"
>
  <p class="tracking-wide">
    © 2025 <span class="font-semibold text-indigo-500">Alejandro Grisales</span
    >. Todos los derechos reservados.
  </p>
</footer>
