<main class="flex flex-col items-center justify-center min-h-screen text-center gap-4 max-w-2xl mx-auto px-6">
  <div class="flex flex-col md:flex-row items-center justify-between max-w-4xl w-full px-6">
    <div class="text-left">
      <p>YO SOY <strong class="text-green-400">ALEJANDRO GRISALES VÉLEZ</strong> </p>
      <p>DESARROLLADOR DE SOFTWARE</p>
    </div>
    <div>
      foto
    </div>
  </div>
</main>
