---
import ParticlesBackground from "../components/react/ParticlesBackground.tsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Alejandro Grisales | Portafolio</title>
    <meta
      name="description"
      content="Portafolio de Alejandro Grisales, desarrollador web y creador de contenido."
    />
    <meta name="author" content="Alejandro Grisales" />
    <meta name="keywords" content="Alejandro Grisales, portafolio, desarrollador" />

  </head>
  <body>
    <ParticlesBackground client:load />
    <slot />
  </body>
</html>
<style is:global>
  @import "tailwindcss";

  @font-face {
    font-family: "Antonio";
    src: url("/fonts/Antonio-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Anton";
    src: url("/fonts/Anton-Regular.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "CoconutHouse";
    src: url("/fonts/Coconut-House.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  h1 {
    font-family: "CoconutHouse", sans-serif;
    }

  h2 {
    font-family: "Anton", sans-serif;
  }

  h3, h4, h5, h6 {
    font-family: "Antonio", sans-serif;
  }

  p, a, li, span, div {
    font-family: "Antonio", sans-serif;
  }

</style>
<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: #e6edf3;
    background-color: #0d1117;
  }
</style>
