---
import Footer from "../components/astro/Footer.astro";
import Nav from "../components/astro/Nav.astro";
import ParticlesBackground from "../components/react/ParticlesBackground.tsx";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Alejandro Grisales | Portafolio</title>
  </head>
  <body>
    <ParticlesBackground client:load />
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: #e6edf3;
    background-color: #0d1117;
    font-family: "Inter", sans-serif;
  }

  main {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
